body {
    background-color: rgb(83, 43, 136);
    overflow: hidden;
}

#form {
    background-color: white;
    width: 28%;
    border-radius: 6px;
    margin: 120px auto;
    padding: 50px;
    box-shadow: 10px 10px 5px rgb(82,11,77);
}

h1 {
    text-align: center;
}

input {
    width: 90%;
    border-radius: 4px;
    border: 3px solid #f6efef;
    padding: 5px;
}

#btn {
    width: 100%;
    color: white;
    background-color: rgb(112, 199, 127);
    padding: 10px;
    font-size: large;
    border-radius: 10px;
}